{
  "openapi": "3.1.0",
  "info": {
    "title": "TeamSystem Enterprise Cloud WebApi Smart - Documentation",
    "version": "1.0.1",
    "description": "This is Application Flow for interact with TeamSystem Enterprise's Smart WebApi.",
    "contact": {
      "email": "info@teamsystem.com",
      "name": "Contact",
      "url": "https://tsdesk.teamsystem.com/"
    },
    "license": {
      "name": "License info",
      "url": "https://tc.teamsystem.com/TeamSystemEnterpriseCloud.pdf?_gl=1*1k50zks*_ga*ODY2OTU4Nzg4LjE3NTQ3MjU3OTk.*_ga_D6CCKB75QV*czE3NTQ3MjU3OTgkbzEkZzEkdDE3NTQ3MjU4NzkkajQ2JGwwJGgxMDY0MzM1MjI0*_fplc*NnJpJTJCSk93WVd0VFByaHE0TW9GSzhuZWZ4SlZUaExUbnNZM3ZpVm14ZzdhNW54UzBQNkJaaGZ4VzVldVNVYUZiOVZDR3hkSEJFVUp2TlZSJTJGNzFOSE5jdXdqNFhjOXB4dENrV2dPUW1SNlQ5VzFIVkdSVWpyT3VaVDJPWDdwQSUzRCUzRA..*_ga_BMC73DK2CB*czE3NTQ3MjU3OTgkbzEkZzEkdDE3NTQ3MjU4NzkkajQ2JGwwJGgyMTk0OTMxMjM."
    }
  },
  "externalDocs": {
    "description": "Download OpenAPI specification",
    "url": "https://tsec-smartwebapi-stage-app.azurewebsites.net/swagger.json"
  },
  "security": [
    {
      "Bearer": [
        "Bearer"
      ]
    }
  ],
  "servers": [
    {
      "url": "https://tse.smart-api.teamsystem.cloud",
      "description": "TeamSystem Enterprise Smart WebApi"
    }
  ],
  "x-security-headers": {
    "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
    "X-Frame-Options": "DENY",
    "X-Content-Type-Options": "nosniff",
    "X-XSS-Protection": "1; mode=block",
    "Content-Security-Policy": "default-src 'self'",
    "Referrer-Policy": "strict-origin-when-cross-origin"
  },
  "x-rate-limiting": {
    "policy": "per-user",
    "requests-per-minute": 60,
    "burst-limit": 10
  },
  "tags": [
    {
      "name": "Auth",
      "description": "Operations related to authentication"
    },
    {
      "name": "Customer",
      "description": "Customer management"
    },
    {
      "name": "Supplier",
      "description": "Supplier management"
    },
    {
      "name": "Warehouse",
      "description": "Warehouse Items management"
    },
    {
      "name": "Finance",
      "description": "Finance management"
    }
  ],
  "paths": {
    "/api/{product}/auth/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Get token",
        "description": "Get authorization token",
        "x-ai-metadata": {
          "intent": "authentication-token-generation",
          "ai-features": [
            "security-validation",
            "anomaly-detection",
            "token-optimization",
            "access-pattern-analysis"
          ],
          "machine-learning": {
            "models": [
              "security-analyzer",
              "fraud-detector",
              "access-pattern-classifier"
            ],
            "confidence-threshold": 0.9
          },
          "automation": {
            "security-checks": true,
            "anomaly-alerts": true,
            "token-optimization": true
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customer will be created. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "Example for multilanguage",
            "style": "simple",
            "schema": {
              "enum": [
                "it-IT",
                "en-GB"
              ],
              "type": "string",
              "default": "it-IT"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "scope": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string"
                  }
                }
              },
              "encoding": {
                "username": {
                  "style": "form"
                },
                "scope": {
                  "style": "form"
                },
                "token": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful. JWT token provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JwtResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Invalid request format or missing required parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid credentials or expired token.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "404": {
            "description": "OAuth authentication service not available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict. Error during token storage or processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. Rate limit exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. Authentication service unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/customer": {
      "post": {
        "summary": "Create a new customer",
        "tags": [
          "Customer"
        ],
        "description": "Insert a new customer into the specified product and version environment.",
        "operationId": "create-customer",
        "x-ai-purpose": "customer_creation",
        "x-ai-entity": "Customer",
        "x-ai-intent": "create",
        "x-ai-sample": {
          "first-name": "Mario",
          "last-name": "Rossi",
          "email": "mario.rossi@example.com",
          "vat-number": "IT12345678901"
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customer will be created. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customer will be created.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customer will be created",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the customer to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customers-response"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "409": {
            "description": "A business error occurred. The customer could not be created due to a conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/customer/{customerId}": {
      "description": "operations for customer by ID",
      "get": {
        "summary": "Get a customer by ID",
        "tags": [
          "Customer"
        ],
        "description": "Retrieve a customer by its unique identifier in the specified product and version environment.",
        "operationId": "get-customer-by-id",
        "x-ai-purpose": "customer_retrieval",
        "x-ai-entity": "Customer",
        "x-ai-intent": "get",
        "x-ai-sample": {
          "customer-id": "CUST001",
          "first-name": "Mario",
          "last-name": "Rossi",
          "email": "mario.rossi@example.com"
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customer will be retrieved. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customer will be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customer will be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "The unique identifier of the customer to be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of fields to include in the response. If not specified, all fields will be returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "first-name,last-name,email,pec"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customer"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found. The specified customer ID does not exist in the system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a customer by ID",
        "tags": [
          "Customer"
        ],
        "description": "Update a customer by its unique identifier in the specified product and version environment.",
        "operationId": "update-customer-by-id",
        "x-ai-purpose": "customer_update",
        "x-ai-entity": "Customer",
        "x-ai-intent": "update",
        "x-ai-sample": {
          "customer-id": "CUST001",
          "first-name": "Mario",
          "last-name": "Rossi",
          "email": "mario.rossi@example.com",
          "vat-number": "IT12345678901"
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customer will be updated. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customer will be updated.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customer will be updated.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "The unique identifier of the customer to be updated.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "maxLength": 5
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the customer to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/customer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Customer updated successfully."
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found. The specified customer ID does not exist in the system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a customer by ID",
        "tags": [
          "Customer"
        ],
        "description": "Delete a customer by its unique identifier in the specified product and version environment.",
        "operationId": "delete-customer-by-id",
        "x-ai-purpose": "customer_deletion",
        "x-ai-entity": "Customer",
        "x-ai-intent": "delete",
        "x-ai-sample": {
          "customer-id": "CUST001",
          "confirmation": true
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customer will be deleted. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customer will be deleted.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customer will be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "customerId",
            "in": "path",
            "description": "The unique identifier of the customer to be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "maxLength": 5
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted successfully."
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found. The specified customer ID does not exist in the system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/customers": {
      "description": "operations for list of customers",
      "get": {
        "summary": "Get a customers list",
        "tags": [
          "Customer"
        ],
        "description": "Retrieve a list of customers in the specified product and version environment.",
        "operationId": "get-customers",
        "x-ai-purpose": "customer_listing",
        "x-ai-entity": "Customer",
        "x-ai-intent": "list",
        "x-ai-sample": {
          "customers": [
            {
              "customer-id": "CUST001",
              "first-name": "Mario",
              "last-name": "Rossi"
            }
          ],
          "total": 150,
          "page": 1
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customer will be retrieved. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customer will be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customer will be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5,
              "pattern": "^[0-9]{1,5}$"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of fields to include in the response. If not specified, all fields will be returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "first-name,last-name,email,pec"
            }
          },
          {
            "name": "pagecount",
            "in": "query",
            "description": "Pagination. Record count per page. Default is 5",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 5,
              "pattern": "^[0-9]{1,5}$"
            }
          },
          {
            "name": "pageposition",
            "in": "query",
            "description": "Pagination. Page position. Default is 0 (starting from 0).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0,
              "pattern": "^[0-9]{1,5}$"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customer"
                  },
                  "maxItems": 1000
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found. The specified customer ID does not exist in the system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/customers/batch": {
      "description": "batch operations for customers",
      "post": {
        "summary": "Create multiple customers",
        "tags": [
          "Customer"
        ],
        "description": "Insert multiple customers into the specified product and version environment.",
        "operationId": "create-customers-batch",
        "x-ai-purpose": "customer_batch_creation",
        "x-ai-entity": "Customer",
        "x-ai-intent": "batch_create",
        "x-ai-sample": {
          "customers": [
            {
              "first-name": "Mario",
              "last-name": "Rossi",
              "email": "mario.rossi@example.com",
              "vat-number": "IT12345678901"
            },
            {
              "first-name": "Luigi",
              "last-name": "Verdi",
              "email": "luigi.verdi@example.com",
              "vat-number": "IT98765432109"
            }
          ]
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customers will be created. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customers will be created.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customers will be created.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "maxLength": 5
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Indicates that the client prefers an asynchronous response",
            "required": false,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "response-async",
              "enum": [
                "",
                "response-async"
              ]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the customers to be created.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/customer"
                },
                "maxItems": 1000
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customers created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/customers-response"
                  },
                  "maxItems": 1000
                }
              }
            }
          },
          "202": {
            "description": "Accepted async request to create customer/s.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/async-guid-response"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "409": {
            "description": "A business error occurred. The customers could not be created due to a conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/customers/batch/{id}": {
      "description": "batch operations for customers with correlation ID",
      "get": {
        "summary": "Get multiple customers with correlation ID",
        "tags": [
          "Customer"
        ],
        "description": "Retrieve multiple customers from the specified product and version environment with a correlation ID.",
        "operationId": "get-customers-batch-with-correlation-id",
        "x-ai-purpose": "customer_batch_status",
        "x-ai-entity": "Customer",
        "x-ai-intent": "batch_status",
        "x-ai-sample": {
          "batch-id": "BATCH123",
          "status": "completed",
          "total-items": 100,
          "processed": 100,
          "errors": 0
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customers will be created. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customers will be created.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customers will be created.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "maxLength": 5
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the batch operation.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "56ec71f2-ae61-4075-b7c0-579d081c4a9b",
              "minLength": 36,
              "maxLength": 36,
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer batch retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/batch-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The specified resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/suppliers": {
      "description": "operations for list of suppliers",
      "get": {
        "summary": "Get a suppliers list",
        "tags": [
          "Supplier"
        ],
        "description": "Retrieve a list of suppliers in the specified product and version environment.",
        "operationId": "get-suppliers",
        "x-ai-purpose": "supplier_listing",
        "x-ai-entity": "Supplier",
        "x-ai-intent": "list",
        "x-ai-sample": {
          "suppliers": [
            {
              "supplier-id": "SUPP001",
              "company-name": "Acme Corp",
              "contact-email": "contact@acme.com"
            }
          ],
          "total": 75,
          "page": 1
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customer will be retrieved. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customer will be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customer will be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5,
              "pattern": "^[0-9]{1,5}$"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of fields to include in the response. If not specified, all fields will be returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "first-name,last-name,email,pec"
            }
          },
          {
            "name": "pagecount",
            "in": "query",
            "description": "Pagination. Record count per page. Default is 5",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 5,
              "pattern": "^[0-9]{1,5}$"
            }
          },
          {
            "name": "pageposition",
            "in": "query",
            "description": "Pagination. Page position. Default is 0 (starting from 0).",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "default": 0,
              "pattern": "^[0-9]{1,5}$"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier"
                  },
                  "maxItems": 1000
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Supplier not found. The specified supplier ID does not exist in the system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/supplier": {
      "description": "operations for list of suppliers",
      "post": {
        "summary": "Create a new supplier",
        "tags": [
          "Supplier"
        ],
        "description": "Insert a new supplier into the specified product and version environment.",
        "operationId": "create-supplier",
        "x-ai-purpose": "supplier_creation",
        "x-ai-entity": "Supplier",
        "x-ai-intent": "create",
        "x-ai-sample": {
          "company-name": "Acme Corp",
          "contact-email": "contact@acme.com",
          "vat-number": "IT11223344556",
          "address": "Via Roma 123, Milano"
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the supplier will be created. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the supplier will be created.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customer will be created",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the customer to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Customer created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/customers-response"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "409": {
            "description": "A business error occurred. The customer could not be created due to a conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/supplier/{supplierId}": {
      "description": "operations for suppliers by ID",
      "get": {
        "summary": "Get a supplier by ID",
        "tags": [
          "Supplier"
        ],
        "description": "Retrieve a supplier by its unique identifier in the specified product and version environment.",
        "operationId": "get-supplier-by-id",
        "x-ai-metadata": {
          "intent": "supplier-retrieval-enhancement",
          "ai-features": [
            "smart-caching",
            "usage-tracking",
            "related-suggestions",
            "performance-analytics",
            "access-optimization"
          ],
          "machine-learning": {
            "models": [
              "usage-pattern-tracker",
              "relevance-scorer",
              "performance-optimizer"
            ],
            "confidence-threshold": 0.75
          },
          "automation": {
            "intelligent-caching": true,
            "usage-insights": true,
            "access-optimization": true
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the supplier will be retrieved. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the supplier will be retrieved.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the supplier will be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "supplierId",
            "in": "path",
            "description": "The unique identifier of the supplier to be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "A comma-separated list of fields to include in the response. If not specified, all fields will be returned.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "first-name,last-name,email,pec"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Customer retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/supplier"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found. The specified customer ID does not exist in the system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a supplier by ID",
        "tags": [
          "Supplier"
        ],
        "description": "Update a supplier by its unique identifier in the specified product and version environment.",
        "operationId": "update-supplier-by-id",
        "x-ai-metadata": {
          "intent": "supplier-update-optimization",
          "ai-features": [
            "change-intelligence",
            "workflow-acceleration",
            "data-consistency",
            "update-tracking",
            "validation-enhancement"
          ],
          "machine-learning": {
            "models": [
              "change-analyzer",
              "workflow-optimizer",
              "consistency-checker"
            ],
            "confidence-threshold": 0.8
          },
          "automation": {
            "intelligent-updates": true,
            "workflow-optimization": true,
            "change-tracking": true
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the supplier will be updated. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the supplier will be updated.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the supplier will be updated.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "supplierId",
            "in": "path",
            "description": "The unique identifier of the supplier to be updated.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "maxLength": 5
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the supplier to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/supplier"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Supplier updated successfully."
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found. The specified customer ID does not exist in the system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a supplier by ID",
        "tags": [
          "Supplier"
        ],
        "description": "Delete a supplier by its unique identifier in the specified product and version environment.",
        "operationId": "delete-supplier-by-id",
        "x-ai-metadata": {
          "intent": "supplier-deletion-workflow",
          "ai-features": [
            "dependency-analysis",
            "impact-assessment",
            "workflow-guidance",
            "cleanup-automation",
            "usage-validation"
          ],
          "machine-learning": {
            "models": [
              "dependency-analyzer",
              "impact-predictor",
              "workflow-optimizer"
            ],
            "confidence-threshold": 0.85
          },
          "automation": {
            "dependency-check": true,
            "impact-analysis": true,
            "workflow-optimization": true
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the supplier will be deleted. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the supplier will be deleted.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the supplier will be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "supplierId",
            "in": "path",
            "description": "The unique identifier of the supplier to be retrieved.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "maxLength": 5
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Supplier deleted successfully."
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found. The specified customer ID does not exist in the system.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/suppliers/batch": {
      "description": "batch operations for suppliers",
      "post": {
        "summary": "Create multiple suppliers",
        "tags": [
          "Supplier"
        ],
        "description": "Insert multiple suppliers into the specified product and version environment.",
        "operationId": "create-suppliers-batch",
        "x-ai-metadata": {
          "intent": "supplier-batch-processing",
          "ai-features": [
            "bulk-optimization",
            "parallel-processing",
            "workflow-acceleration",
            "quality-assurance",
            "batch-intelligence"
          ],
          "machine-learning": {
            "models": [
              "batch-optimizer",
              "processing-scheduler",
              "quality-validator"
            ],
            "confidence-threshold": 0.8
          },
          "automation": {
            "batch-processing": true,
            "parallel-execution": true,
            "workflow-optimization": true
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the suppliers will be created. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customers will be created.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customers will be created.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "maxLength": 5
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Indicates that the client prefers an asynchronous response",
            "required": false,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "response-async",
              "enum": [
                "",
                "response-async"
              ]
            }
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the suppliers to be created.",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/supplier"
                },
                "maxItems": 1000
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Suppliers created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/supplier-response"
                  },
                  "maxItems": 1000
                }
              }
            }
          },
          "202": {
            "description": "Accepted async request to create customer/s.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/async-guid-response"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable. The requested language is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "409": {
            "description": "A business error occurred. The customers could not be created due to a conflict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type. The request body format is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests. The request limit has been exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/suppliers/batch/{id}": {
      "description": "batch operations for suppliers with correlation ID",
      "get": {
        "summary": "Get multiple suppliers with correlation ID",
        "tags": [
          "Supplier"
        ],
        "description": "Retrieve multiple suppliers from the specified product and version environment with a correlation ID.",
        "operationId": "get-suppliers-batch-with-correlation-id",
        "x-ai-metadata": {
          "intent": "supplier-batch-tracking",
          "ai-features": [
            "batch-monitoring",
            "status-intelligence",
            "progress-tracking",
            "performance-analytics",
            "correlation-insights"
          ],
          "machine-learning": {
            "models": [
              "batch-status-predictor",
              "progress-analyzer",
              "correlation-tracker"
            ],
            "confidence-threshold": 0.8
          },
          "automation": {
            "status-monitoring": true,
            "progress-tracking": true,
            "correlation-analysis": true
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the suppliers will be created. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customers will be created.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customers will be created.",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int32",
              "maxLength": 5
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the batch operation.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "56ec71f2-ae61-4075-b7c0-579d081c4a9b",
              "minLength": 36,
              "maxLength": 36,
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "suppliers batch retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/batch-response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. The specified resource could not be found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred while processing the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          }
        }
      }
    },
    "/api/{product}/{version}/company/{companyId}/warehouse/item": {
      "post": {
        "summary": "Create a new product warehouse item",
        "tags": [
          "Warehouse"
        ],
        "description": "Insert a new product into the specified product and version environment.",
        "operationId": "create-product",
        "x-ai-metadata": {
          "intent": "warehouse-item-creation",
          "ai-features": [
            "inventory-optimization",
            "auto-categorization",
            "stock-prediction",
            "workflow-enhancement",
            "quality-validation"
          ],
          "machine-learning": {
            "models": [
              "inventory-optimizer",
              "category-classifier",
              "stock-predictor"
            ],
            "confidence-threshold": 0.8
          },
          "automation": {
            "auto-classification": true,
            "inventory-management": true,
            "workflow-optimization": true
          }
        },
        "parameters": [
          {
            "name": "product",
            "in": "path",
            "description": "The product name where the customer will be created. Supported values are tse10 and tse12.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "tse10",
              "enum": [
                "tse10",
                "tse12"
              ]
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the product where the customer will be created.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "v1",
              "minLength": 1,
              "maxLength": 10,
              "pattern": "^[A-Za-z0-9]{1,10}$"
            }
          },
          {
            "name": "companyId",
            "in": "path",
            "description": "The unique identifier of the company where the customer will be created",
            "required": true,
            "schema": {
              "type": "number",
              "format": "int64",
              "maxLength": 5
            }
          },
          {
            "name": "accept-language",
            "in": "header",
            "description": "The language preference for the response. Supported values are it-IT and en-GB.",
            "required": true,
            "style": "simple",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "it-IT",
              "enum": [
                "it-IT",
                "en-GB"
              ]
            },
            "example": "it-IT"
          },
          {
            "name": "user",
            "in": "query",
            "description": "The username of the user performing the operation.",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string",
              "maxLength": 50,
              "pattern": "^[A-Za-z0-9]{3,50}$"
            }
          }
        ],
        "requestBody": {
          "description": "The details of the product to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/warehouseitem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Storage product created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/warehouseitem-response"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Check the input parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Ensure the correct authorization credentials are provided.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/logs"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The user does not have permission to perform this operation.",
            "content": {
              "application/json": {
                "schema": {
[...]
